
<%= link_to " Twitterでログイン/登録", user_twitter_omniauth_authorize_path,class: "btn btn-primary my-4 py-2 fa fa-twitter twitterlogin" %>

<h3>懺悔メーカーとは</h3><br>
<h4>①誰にでも起こりうる些細な罪を・・・</h4>
<%= image_tag 'intro1.png', width: '315',class: 'intro-image' %><br>
<h4>②画像ツイートで懺悔しましょう</h4>
<%= image_tag 'intro2.png', width: '315',class: 'intro-image' %><br>
<p>ただそれだけのサービスです。</p>
<p>が・・・</p>
<h4>③もしかするとフォロワーから許しが得られるかもしれません</h4>
<%= image_tag 'intro3.png', width: '315',class: 'intro-image' %><br>
<%= link_to " Twitterでログイン/登録", user_twitter_omniauth_authorize_path,class: "btn btn-primary my-4 py-2 fa fa-twitter twitterlogin" %>