
<%= link_to " Twitterでログイン/登録", user_twitter_omniauth_authorize_path,class: "btn btn-primary my-4 py-2 fa fa-twitter twitterlogin" %>

<h3>懺悔メーカーとは</h3><br>
<h4>①誰しもが抱えうる些細な罪</h4>
<p>例えば・・・</p>
<%= image_tag 'intro1.png', width: '315',class: 'intro-image' %><br>
<p>などを</p><br>
<h4>②画像付きツイートで懺悔！</h4>
<%= image_tag 'intro2.png', width: '315',class: 'intro-image' %><br>
<p>胸に秘めたままの罪を告白する</p>
<p>なんと、<span class='under'>ただそれだけのサービスなのです！</span></p><br>

<p>が、もしかすると・・・</p>
<h4>③フォロワーから許しが得られるかもしれません</h4>
<%= image_tag 'intro3.png', width: '315',class: 'intro-image' %><br>
<p>(「汝の罪を許します」が押されると、@ツイートでリアクションがきます)</p>

<br>
<p>▼罪を告白して、罪悪感を減らしましょう！▼</p>
<%= link_to " Twitterでログイン/登録", user_twitter_omniauth_authorize_path,class: "btn btn-primary my-4 py-2 fa fa-twitter twitterlogin" %>
<p>※勝手にツイートされることはありません</p>

<br>
<br>
<br>
<p>▽SNSでシェア▽</p>
<a href="https://twitter.com/share?url=https://www.zangemaker.com&hashtags=懺悔メーカー" target="_blank" class="btn btn-info btn-sm" data-show-count="false">Twitter</a>
<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.zangemaker.com" target="_blank" class="btn btn-info btn-sm" data-show-count="false">Facebook</a>
<a href="http://line.me/R/msg/text/?http://www.zangemaker.com" target="_blank" class="btn btn-info btn-sm" data-show-count="false">LINE</a>