
<img src= <%= current_user.image %> class="icon"><br>
<span><%= current_user.name %>の懺悔</span><br>

<%= link_to "罪を告白する",new_post_url,class: "btn btn-info my-3 px-5 py-2" %>

<div class="container-fluid text-center">
<div class="row">
<div class="col-md-4"></div>

<div class='past-content col-md-4'>

<p>過去の懺悔一覧</p>
<% @posts.each do |post| %>
<%= link_to(element_url(post), class: 'list-content') do %>
  <%= image_tag post.picture, width: '315',class: 'image_past' %>
  <br><%= link_to '削除', post_path(post), method: :delete, data: { confirm: '削除しますか？' }   %>
<% end %>
<% end %>

</div>


<div class="col-md-4"></div>
</div>
</div>

<br><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "btn btn-defolt my-4 py-2 fa fa-twitter" %>