<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <p>懺悔したいこと(50文字以内)</p>

    <%= form.text_area :content, class:'form-control', rows:"4",placeholder: "(例)起床に失敗し、二度寝してしまいました" %>
  </div>

  <div class="actions">
    <br><%= form.submit "画像を確認する", id: 'submit', class:"confirm_btn" %>
  </div>
<% end %>