<div class='element-box'>

<span><%= @post.user.name %>さんの懺悔</span>
  <div>
    <br><%= image_tag @post.picture, width: '315',class: 'image_confirm' %>
  </div>
  <br>
  <a href="https://twitter.com/share?url=https://zngmk.herokuapp.com/posts/<%= @post.public_uid %>/share&text=@<%= @post.user.nickname %>さんの罪を許し、徳を積みました&hashtags=懺悔メーカー" target="_blank" class="btn btn-warning btn-lg" data-show-count="false"><%= @post.user.name %>さんの罪を許す</a>
</div>
