<!DOCTYPE html>
<html>
  <head>
    <title>Zngmk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">

    <!-- Twitterカード設定 -->
    <% twitter_card = get_twitter_card_info(@post ? @post : nil) %>
    <meta name="twitter:card" content=<%=twitter_card[:card]%> />
    <meta property="og:url" content=<%=twitter_card[:url]%> />
    <meta property="og:title" content=<%=twitter_card[:title]%> />
    <meta property="og:description" content=<%=twitter_card[:description]%> />
    <meta property="og:image" content=<%=twitter_card[:image]%> />
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container-fluid text-center">
  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= link_to("/") do %>
    <div class="jambotron py-3" style="background-color:white; color:black;">
      <%= image_tag("/assets/logo.png" ,class: 'logo') %>
    <div class='intro'>
      <span>懺悔メーカーは、日々の懺悔をツイートできるサービスです。あわよくばフォロワーから許しが得られます。</span>
    </div>
    </div>
    <% end %>
</div>
</div>
</div>
<div class="container">
    <%= yield %>
</div>
    <div class="col-md-3"></div>
    <footer>
    <%= link_to 'プライバシーポリシー', "#" %> |
    <%= link_to '利用規約', "#" %>
    <% if user_signed_in? %>
    | <%= link_to "アカウント削除","/users/#{current_user}", method: :delete, data: { confirm: '本当にアカウントを削除しますか？' } %>
    <%end%>
    </footer>
  </body>
</html>
